services:
  db:
    image: postgres:16-alpine
    env_file:
      - .env
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

  redis:
    image: valkey/valkey:alpine
    ports:
      - "6379:6379"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    network_mode: host
    volumes:
      - ./.env:/app/.env
      - ./logs:/app/logs
      - ./e2e-test-folder:/app/e2e-test-folder
    depends_on:
      - db
      - redis

volumes:
  postgres_data_dev:
